---
import {cn} from '@/lib/utils';

interface Props {
    href: string;
    activeClass?: string;
}

const {href, activeClass = 'text-white'} = Astro.props;

const pathname = Astro.url.pathname;
---

<a
        href={href}
        class={cn('text-gray-400 text-xl',
            pathname === href && activeClass,
            pathname.includes('/lore') && href.includes('/lore') && activeClass
        )}
>
    <slot/>
</a>
