---
import {cn} from "../../lib/utils";
interface Props {
    href: string;
    icon: string;
}

const {href, icon} = Astro.props;
---

<a
        href={href}
        target="_blank"
        class="size-9 flex justify-center items-center bg-white hover:bg-black group"
>
    <i
            class={cn('text-black text-xl group-hover:text-white',
                icon
            )}
    ></i>
</a>
