---
import Layout from "@/layouts/Layout.astro"
import Accordion from "@/components/Accordion.vue"

const data = [
    {
        title: 'Can i do X?',
        content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur labore numquam officia quibusdam reprehenderit sed tenetur. Adipisci atque aut esse maiores non placeat quibusdam recusandae soluta sunt suscipit! Aliquam aperiam consectetur consequatur, dicta doloremque ea eius explicabo facilis laboriosam minima nemo non, possimus quod ratione tenetur velit veniam. Illum?'
    }
]

for (let i = 0; i < 10; i++) {
    data.push(data[0])
}
---
<Layout title="FAQ">
    <section class="py-12 lg:py-16">
        <div class="max-w-4xl mx-auto px-5 space-y-8 lg:space-y-12">
            <div class="text-center space-y-1">
                <h1 class="text-3xl md:text-4xl lg:text-6xl xl:text-7xl">
                    FAQ
                </h1>

                <p class="text-lg md:text-xl lg:text-2xl xl:text-3xl">
                    Frequently Asked Questions
                </p>
            </div>

            <div>
                <Accordion data={data} client:load/>
            </div>
        </div>
    </section>
</Layout>
